<ion-view view-title="Login Page" class="login-page">
	<ion-content class="padding">
        <h4>{{ title }}</h4>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="John">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="*****">
  </label>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Remember Me ?
  </li>

          <a href="#/login" class="button button-balanced button-block">
		<i class="fa fa-spinner fa-pulse"></i>

Login</a>

</div>
     </ion-content>
</ion-view>